.layout {
  @apply w-full h-screen p-12;
  @apply flex flex-col;
}

.header {
  @apply relative flex items-center;

  > * {
    @apply z-20;
  }

  > .menu {
    @apply w-[3.625rem] h-[3.625rem];
    @apply mr-6;
  }

  > .logo {
    @apply bg-primary text-background rounded-full;
    @apply flex-shrink-0;
  }

  > .app-name {
    @apply text-primary text-2xl;
    @apply ml-3 flex-shrink-0;
  }

  > .options {
    @apply grid grid-flow-col gap-4;
    @apply ml-auto;
  }
}

.canvas-root {
  @apply w-full h-[calc(100vh-19.5rem)] mt-10 mb-8 overflow-hidden;
  @apply bg-primary/30 border border-primary rounded-3xl;
  @apply relative z-10 flex transition-all duration-1000;

  box-shadow: 2px 2px 0px theme(colors.primary);

  &.is-fullscreen {
    @apply fixed top-0 left-0 bg-background;
    @apply my-0 h-full rounded-none;
  }
}

.canvas-overflow-handler {
  @apply w-full h-auto flex overflow-auto;

  &::-webkit-scrollbar {
    @apply w-1 h-1;

    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}

.canvas-wrapper {
  @apply w-full min-h-full flex items-center justify-center cursor-cell;

  height: max-content;
}

.guide {
  @apply w-[23.125rem] h-auto m-auto text-primary;
  @apply flex flex-wrap flex-shrink-0 gap-x-4 gap-y-6;
  @apply justify-center items-center;

  > p {
    @apply text-xl text-center;
  }

  > span {
    @apply text-sm;
  }
}

.modify-bar {
  @apply relative mt-auto flex gap-4;

  > * {
    @apply z-20;
  }

  > .modify-output {
    @apply flex gap-4 ml-auto items-end;
  }
}
